.left-panel {
  text-align: left;
  width: 30vw;
  position: relative;
}

.left-panel:after {
  content: '';
  height: 93%;
  top: 2%;
  width: 2px;
  position: absolute;
  right: 0;
  background-color: #57c392; // The color of your border
}

.left-panel h3 {
  text-align: left;
}
.contact p {
  line-height: 0.3;
}

.volunteer li {
  text-align: left;
}
