.left-panel {
  text-align: left;
  width: 30vw;
/*  border-right: solid 4px #57c392;
*/  position: relative;
}

.left-panel:after {
  content: '';
  height: 93%;
  top: 2%;
  width: 3px;
  position: absolute;
  right: 0;
  background-color: #57c392; // The color of your border
}

.left-panel h3 {
  text-align: left;
}

.volunteer {
  text-align: left;
}
