.left-panel {
  text-align: left;
  position: relative;
  padding: 10px;
}

.left-panel:after {
  content: '';
  height: 93%;
  top: 2%;
  width: 2px;
  position: absolute;
  right: 0;
  background-color: #57c392;
}

.left-panel h3 {
  text-align: left;
}

.volunteer li {
  text-align: left;
  display: flex;;
  flex-direction: column;
}

.contact, .stack, .education {
    flex-direction: column;
    align-items: flex-start;
}

.contact, .stack:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    padding-bottom: 30px;
    border-bottom: 2px solid #57c392; /* This creates the border. Replace black with whatever color you want. */
}



