.main-content li {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: auto;
}

.description {
  padding: 10px;
}

.main-content h3 {
  text-align: center;
}

.projects {
  border-bottom: solid 2px #57c392;
}
